
.header{
  background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}
h1{
  padding: 10px;
  text-align: center;
}
ul{
  list-style: none;
}
.container{
  display: flex;
  justify-content: space-around;
  
}
.form-container{
  margin: 10px;
  width: 300px;
  
}
.input {
  padding: 10px 10px;
  width: 100%;
  margin: 5px;
  border-radius: 2px;
  border:1px solid rgb(236, 236, 236)
}
.list-container{
  margin: 5px;
  width: 300px;
  text-align: center;

}
@media screen and (max-width:700px){
  .container{
    display: block;
    text-align: center;
  }
}